main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100%;
}
button{
    border: none;
    padding: 4%;
    background-color: transparent;
}
img{
    width: 90%;
    margin: 2%;
}
.mobile-control{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10%;
}
.box-up{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}
.box-up button{
    width: 33%;
    margin: 0 auto 0 auto;
}
.box-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}